<div class="guestsview">

  <!-- Add Guest form -->
    <section class="add-guest">
        <div class="container">
        <div class="guest-content">
            <div class="addguest-form">
            <h2 class="form-title">Add a Guest</h2>
            <form method="POST" class="register-form" id="register-form">

                <div class="form-group">
                    <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" name="first-name" id="guest-first-name" placeholder="Guest First Name" />
                </div>
                <div class="form-group">
                    <label for="name"><i class="zmdi zmdi-account-o material-icons-name"></i></label>
                    <input type="text" name="last-name" id="guest-last-name" placeholder="Guest Last Name" />
                </div>
                <div class="form-group">
                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                    <input type="email" name="email" id="guest-email" placeholder="Guest Email" />
                </div>
                <div class="form-group">
                    <label for="name"><i class="zmdi zmdi-city material-icons-name"></i></label>
                    <input type="text" name="org" id="guest-org" placeholder="Guest's Organization" />
                </div>
                <div class="form-group">
                <input type="checkbox" name="vip" id="guest-vip" class="agree-term" />
                <label for="remember-me" class="label-agree-term"><span><span></span></span>VIP</label>
                </div>

                <div class="form-button">
                    <input type="submit" name="addguest" id="add-guest" class="form-submit" value="Add Guest" />
                </div>

                {{!-- triggers adding people to the DOM in the guest list and sends email --}}
                <button id="submit-guest" class="btn btn-primary">Submit Guest</button>

            </form>
            </div>

        </div>
        </div>
    </section>

    <section class="guest-list">
        <div class="guestlist-container">
            <div class="guest-content">
                <div class="guestlist-form">
                    <h2 class="form-title">Your Guestlist</h2>
                    
                    <ul id="guest-list" class="list-group">
                        {{#each guests}}
                            <li data-id="{{this.id}}" class="list-group-item">
                                <a href="guest/{{this.id}}">{{this.name}}</a>{{status}}
                            <button class="btn btn-danger float-right delete">ｘ</button>
                            </li>
                        {{/each}}
                    </ul>

                </div>
            </div>
    </section>
</div>